.status[data-name='Ожидание'] {
    color: #727474;
    background: #F8F8F8;
}

.status[data-name='Ожидание модерации'] {
    color: #727474;
    background: #FDF7E7;
}


.status[data-name='Ожидание сборки'] {
    color: #FF6418;
    background: #FFF7E4;
}


.status[data-name='На доставке'] {
    background: #F0F9EA;
    color: #727474;
}

.status[data-name='Отменено'] {
    background: #FDE2DE;
    color: #EF3F27;
}

.status[data-name='Доставлено'] {
    background: #F0F9EA;
    color: #009A10;
}